header{
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9999999999999;
}

.header-container{
  background-color: var(--principal);
  height: 100px;
  display: flex;
  justify-content: baseline;
}
.header-container h1 img{
  height: 90px;
  outline: 1px solid red;
  margin-top: 10px;
}
.header-son {
    width: 33.333333333%;
    color: rgb(238, 233, 237);
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-son p {
    font-size: 20px;
}
.fa-phone {
    font-size: 20px;
    position: fixed;
    right: 50px;
  }

.sub-header{
    background-color: var(--terciario);
    height: 25px;
    font-size: 15px;
    color: rgb(238, 233, 237);
    padding-left: 9px;
    display: flex;
    align-items: center;
}
#bar{
  position: fixed;
  left: 20px;
}